table {
    table-layout: fixed;
    border-collapse: collapse;    
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

th,
td {
    border: 1px solid black;
    padding: .5em;
    text-align: center;
    width: 50px;
    height: 50px;
}

.bingo-card-heading {
    background: black; 
    width: 500px; 
    padding-bottom: 5px;
    padding-top: 5px;
}

.bingo-card-heading > h1 {
    color: white;
    margin: 5px;
    text-align: center;
}